img{
    height:500px; 
    position:relative;
    margin:0;
}

    *{    margin:0;    padding:0%;
        background-image: -webkit-image-set();
    }

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif; 
        color:cornflowerblue;
      }
     
body{
    background-color:pink;
    
    
}

nav a{
    display: inline;
}